# Copy sang .dev.vars (gitignored) để chạy wrangler dev local
# .dev.vars được wrangler load tự động khi chạy `npx wrangler dev`
SUPABASE_URL=https://ysehlghdwodsovaxxwpx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlzZWhsZ2hkd29kc292YXh4d3B4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcwNTc1MDksImV4cCI6MjEwMjYzMzUwOX0.gNvaSmbGeAELt0dkOms4q2wnORDvKxEE4jt6tSgDIZI
SERVICE_TOKEN=78c9f90e652a8118ff3e79be1f3453e5d4e16cb23287bed86a1443e4ba70db64
